<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Bakrommet.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://storage.googleapis.com/bakrommet-static/css/bootstrap-reboot.min.css" rel="stylesheet" media="screen"/>
    <link href="https://storage.googleapis.com/bakrommet-static/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <p>
        Welcome to the Spring MVC Quickstart application!
    </p>
    <h1>Du er logget inn:</h1>
    <p th:text="${userId}">Default tekst</p>
</div>
</body>
</html>
